@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);
@import url(https://fonts/googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap);
body {
    Margin: 0;
    padding: 0;
    background-color: rgb(231, 234, 243);
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.02em;
    color: black;
}
